footer
{
	background-color: gray;
    bottom: 0;
    display: block;
    height: 10%;
    position: fixed;
    width: 100%;
    z-index: 99;
    left:0;
  }

.footer_container{
/*  border:1px solid green;
 */
 margin:auto;
 width:1200px;
 height:100%;
 text-align:right;padding:0px;
 background-image:url("footer_img/bordHeader.png");
 background-repeat: no-repeat;
 background-position:0px -6px;
 background-size:1200px;

 }

/*.footer_container_left{
   margin:auto;
 width:1200px;
 height:100%;
 text-align:left;padding:0px;
 background-image:url("footer_img/bordHeader.png");
 background-repeat: no-repeat;
 background-position:0px -6px;
 background-size:1200px;

 }*/

.footer_container .logo img
{
	margin-top:7px;
    position: static !important;
/* 	border:1px solid red;
 */}
/*.footer_container_left .logo_left img
{
	margin-top: -2.2% ;
 	border:1px solid red;
 }*/

footer img.bordHeader
{
	margin-top: -16px;
}

