.nav {
    margin-top: 3%;
    margin-left: 12%;
    margin-right: 12%;
    width: auto;
    background-image: url("menu_img/bordHeader.png");
    background-repeat: no-repeat;
    background-position: 0% 113%;
    background-size: 1200px;
}

.nav li a {
    font-size: 150% !important;
}
